@page {
  size: A4;
  margin: 2cm;
}
html {
  -webkit-print-color-adjust: exact;
}
.page-break {
  page-break-before: always;
}
table {
  page-break-inside: avoid;
}
button {
  display: none;
}
/* Second chapter */
table.nowrap tr:nth-child(1) td:nth-child(2) {
  white-space: nowrap;
}
